<nav
  class="navbar sticky-top navbar-expand-lg navbar-dark"
  style="background-color: #e0435e; box-shadow: 0px 4px 11px #0a0a0a40;"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EatTapp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/restaurants">Restaurants</a>
        <a class="nav-link" href="/restaurants/new">New Restaurant</a>
      </div>
      <div class="navbar-nav ms-auto">
        <% if (!currentUser) { %>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/register">Register</a>
        <% }else { %>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" style="letter-spacing: 0.1rem;align-items: center;display: flex;";> 
            
            <i class='bx bxs-user-circle bx-sm'></i> 
         User:
            <%= currentUser.username %></a>
         
          <ul class="dropdown-menu">
            <li><a class="dropdown-item"href="/logout">Logout</a></li>
          </ul>
          
        </li>
   

        
        <% } %>
      </div>
    </div>
  </div>
</nav>
