#cluster-map {
  width: 100%;
  height: 500px;
}

#map {
  width: 100%;
  height: 300px;
}

/* Login */


body {
  font-family: Poppins, sans-serif;
  height: 100vh;
  background-image:
    url(../stylesheets/login-bg.svg);

  /* linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), 
     url("https://images.unsplash.com/photo-1469234496837-d0101f54be3e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=792&q=80"); */

  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}


