@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:400,700,500");



:root {
  --black:
    rgba(0, 0, 0, 1);
  --emperor:
    rgba(82, 71, 71, 1);
  --mist-gray:
    rgba(196, 196, 196, 1);
  --coral:
    rgba(253, 136, 87, 1);
  --tulip:
    rgba(255, 148, 144, 1);
  --white:
    rgba(255, 255, 255, 1);
  --purple: #761db2;

  --font-size-xxxs: 15px;
  --font-size-xxs: 16px;
  --font-size-xs: 20px;
  --font-size-xxl: 36px;
  --font-size-s2: 22px;
  --font-size-m2: 24px;
  --font-size-l3: 30px;
  --font-size-l2: 50px;
  --font-family-red_hat_display: "Red Hat Display";
}

* {
  box-sizing: border-box;
  font-family: var(--font-family-red_hat_display);

}

#cluster-map {
  width: 100%;
  height: 400px;
  margin-top: -6px;
  border-radius: 38px;
}

#map {
  width: 100%;
  height: 300px;
  border-radius:30px;
}

/* Login */



body {
  font-family: var(--font-family-red_hat_display);
  height: 100vh;
   background-image:
    url(../img/login-bg.svg); 

  /* linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), 
     url("https://images.unsplash.com/photo-1469234496837-d0101f54be3e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=792&q=80"); */

  background-attachment: fixed;
  background-size: cover;
   background-position: center center; 
}

h1{
  font-size: var(--font-size-xxl);
  font-weight: 700
}




/* SHOW RESTAURANT */

.breadcrumb {
  margin-left: 20px;
  margin-bottom: 10px;
}

.breadcrumb a {
  text-decoration: none;
  color: whitesmoke;
}

.breadcrumb-item.active {
  color: var(--black);
}

.breadcrumb-item+.breadcrumb-item::before {
  color: var(--black);
}

.review {
  border-radius: 15px;
 
}

.card-pics{
  border-radius:30px 30px 0px 0px;
  /* border:solid #f15461; */
}

.card-bottom{
  border-radius:0px 0px 30px 30px;
  /* border:solid #f15461; */
}


.review-section h2{
font-family: 'Poppins';
font-weight: 600;
}

.card-body h3{
  font-size: var(--font-size-m2);
  font-weight: 700;
}

.card-body h5{
  font-family: 'Poppins';
  font-weight: 800;
}

.card-body p{
  font-family: 'Poppins';
  font-weight: 400;
}

.card-bdy{
  /* text-align: justify;
  text-justify: inter-word; */
  padding: 1rem;
}


.card-list li{
  font-family: 'Poppins';
  font-weight: 600;
}

.stars {
  height: 30px;
}

.user-avatar{
  justify-content: start;
  align-items: center;
  display: flex;
  /* margin-left: 10px; */
}

.user-avatar h5{
 margin-left: 10px;
}
.review-txt {
  border: solid var(--black) 2px;
  border-radius: 20px;
}

.quote{
  font-size: var(--font-size-xxl);
  font-family: Poppins;
  margin: 0px;
}


/* INDEX */

.all-resto-location{
  justify-content: start;
  align-items: center;
  display: flex;
  margin-bottom: 12px;
}

.all-resto-location p {
  margin-left: 10px;

}

/* 
.btn:hover {
  color: #fff
}

.input-text:focus {
  box-shadow: 0px 0px 0px;
  border-color: #f8c146;
  outline: 0px
}

.form-control {
  border: 1px solid #f8c146
} */

.nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgb(255, 255, 255) !important;
  margin-left: 1rem;
  border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 225);
  border-bottom-color: rgba(255, 255, 255, 225);
}

.nav-link.active {
  color: white;
  border-bottom-color: white;
}


.form-containerz {
  height: 1138px;
  
  background-color: #ecdcd529;
  border-radius: 11px;
  box-shadow: 0px 4px 11px #0a0a0a40;
  height: 601px;
  
  padding: 40px;
}

.back-btn, .view, .edit {
    background-color: var(--coral);
    color: var(--white);
    font-weight: 700;
   
}

.del {
  background-color: #ff5050;
    color: var(--white);
    font-weight: 700;
}




.back-btn:hover,
.view:hover, .edit:hover {
    background-color:var(--purple);
    color: var(--white);
    font-weight: 700;

}

.del:hover {
  background-color: #b60000
  ;
    color: var(--white);
    font-weight: 700;
}

.edit-inputs {
  box-shadow: 0px 4px 8px #0a0a0a40;
}

.edit-label {
  font-size: var(--font-size-xxxs);
  font-family: var(--font-family-red_hat_display);
  font-weight: 700;
}

.flex-btn {
  display: flex;
  justify-content: end;
  margin: auto;
}

.flex-btn button, .flex-btn a {

  margin: 30px 8px;
}
