@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");


:root {
  --black:
    rgba(0, 0, 0, 1);
  --white:
    rgba(255, 255, 255, 1);

  --font-size-s: 22px;
  --font-size-m: 24px;
  --font-size-l: 50px;

  /* --font-family-red_hat_display: "Red Hat Display"; */
}

* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  margin: 0rem;

}



body {
  font-family: Poppins, sans-serif;
  height: 100vh;
  background-image:
    url(../stylesheets/8615--converted--1@1x.svg),

  linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)); 
    /* url("https://images.unsplash.com/photo-1469234496837-d0101f54be3e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=792&q=80"); */

  background-attachment: fixed;
  background-size: cover;
  /* background-position: center center; */


}

h1 {
  
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);

}

p{
  color: var(--black);
}



.cover-container {
  max-width: 60vw;
  font-family: Poppins, sans-serif;
}



.left-container {
  position: fixed;
  width: inherit;
}

.nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 1rem;
  border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.nav-link.active {
  color: white;
  border-bottom-color: white;
}

.btn-secondary,
.btn-secondary:hover {
  color: #333;
  text-shadow: none;
}

