<% layout('layouts/boilerplate') %>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EatTapp</title>
 
  <link rel="stylesheet" href="/stylesheets/new-resto.css" />
</head>


<div class="row">
  <h1 class="text-center" style="    color: white;
  margin-bottom: 1.7rem;">New Restaurant</h1>
  <div class="form-containerz col-md-6 offset-md-3">
    <form
      action="/restaurants"
      method="POST"
      novalidate
      class="validate-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="res-label form-label" for="title">Title</label>
        <input
          class="box-inputs form-control"
          type="text"
          id="title"
          name="restaurant[title]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="res-label form-label" for="location">Location</label>
        <input
          class="box-inputs form-control"
          type="text"
          id="location"
          name="restaurant[location]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="res-label form-label" for="price">Price Range</label>
        <div class="input-group">
          <span class="box-inputs input-group-text" id="price-label">₱</span>
          <input
            type="text"
            class="box-inputs form-control"
            id="price"
            placeholder="0.00"
            name="restaurant[price]"
            required
            aria-describedby="price-label"
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="res-label form-label" for="description">Description</label>
        <textarea
          class="box-inputs form-control"
          type="text"
          id="description"
          name="restaurant[description]"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="images" class="res-label form-label">Upload Images</label>
        <input
          name="image"
          class="box-inputs form-control"
          type="file"
          id="images"
          multiple
        />
      </div>
      <div class="flex-btn mb-3">
       
          <a  class="back-resto btn" href="/restaurants">All Restaurants</a>
        
        <button class="new-resto btn">Add Restaurant</button>
      </div>
    </form>

    
  </div>
</div>
